<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
        <img src="https://www.ubp.edu.ar/egt/img/logo-footer.png" alt="Icono" />
        </div>
        <ul class="nav-list">
            <li><a href="#">Menu</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    <div class="container">
        
            <% empresas.forEach(element => { %>
                <div class="card">
                    <h1> <%- element.Empresa %> </h1>
                    <h2> Registro: <%- element.Registro %> Mes: <%- element.Mes %></h2>
                    <p> Produccion Total: <%- element.ProduccionTotal %> </p>
                    <p> Cantida Piezas Con Fallas: <%- element.CantidaPiezasConFallas %> </p>
                </div>
                
            <% }) %>
        
    </div>
    
    <footer className="footerr">
        <div className="footer-content">
          <p>© Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>